n8n/workflows/Job Agent - 03 Relevance And Resume.json
{
  "name": "Job Agent - 03 Relevance And Resume",
  "nodes": [
    {
      "parameters": {},
      "id": "ef2e9f1d-fc23-46d1-8509-50edc0544305",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1200,
        1408
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $('Read Enriched Jobs').all();\nconst enriched = items.filter(i => i.json.status === 'enriched');\nif (enriched.length === 0) throw new Error('No enriched jobs found');\nreturn enriched.map(i => ({ json: i.json }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        1648
      ],
      "id": "ad9b5bd7-dd10-4096-bdb9-f92180c561e4",
      "name": "Filter Enriched Only"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "=1jkunkarVZDbhpy11G9ajWle7Ip-rYMCof5uWahzVXsE"
        },
        "sheetName": {
          "__rl": true,
          "value": "Jobs",
          "mode": "name"
        },
        "options": {}
      },
      "id": "9b6c01ab-a9b6-4a84-bc64-0d33d7b42750",
      "name": "Read Enriched Jobs",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -208,
        1728
      ],
      "credentials": {
        "googleApi": {
          "id": "1EPATbG9UgFp0Cvm",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "=1jkunkarVZDbhpy11G9ajWle7Ip-rYMCof5uWahzVXsE"
        },
        "sheetName": {
          "__rl": true,
          "value": "Master Resume",
          "mode": "name"
        },
        "options": {}
      },
      "id": "83443d1a-12ab-4da0-88f2-5d313b07df22",
      "name": "Read Master Resume",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        80,
        1680
      ],
      "credentials": {
        "googleApi": {
          "id": "1EPATbG9UgFp0Cvm",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const job = $('Filter Enriched Only').item.json;\nconst allRows = $('Read Master Resume').all().map(i => i.json);\n\n// Filter to only actual resume rows (have 'section' field, not job rows leaking through)\nconst resumeRows = allRows.filter(r => r.section && r.section.trim());\n\n// Deduplicate by section name (in case of pipeline data duplication)\nconst seen = new Set();\nconst uniqueRows = resumeRows.filter(r => {\n  const key = r.section.trim();\n  if (seen.has(key)) return false;\n  seen.add(key);\n  return true;\n});\n\nconst skipSections = new Set(['role_to_resume_mapping']);\nconst masterResume = uniqueRows\n  .filter(r => !skipSections.has(r.section) && (r.content || '').trim())\n  .map(r => (r.section || '').toUpperCase() + ':\\n' + (r.content || ''))\n  .join('\\n\\n');\n\nif (masterResume.length < 100) throw new Error('Resume content too short (' + masterResume.length + ' chars). Check Master Resume tab.');\n\nlet companyResearch = job.company_research || '';\nif (typeof companyResearch === 'string' && companyResearch.startsWith('{')) {\n  try { companyResearch = JSON.parse(companyResearch); } catch(e) {}\n}\n\nreturn [{ json: {\n  ...job,\n  company_research: companyResearch,\n  master_resume: masterResume.slice(0, 15000),\n  selected_resume_type: 'unified'\n} }];\n"
      },
      "id": "a712e667-5b74-4e83-835b-463a5fead308",
      "name": "Prepare Fit Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        1632
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://testashok1.openai.azure.com/openai/deployments/Test-Ashok-1-gpt-4o/chat/completions?api-version=2024-02-01",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body_string }}",
        "options": {}
      },
      "id": "d605b8f8-9a00-44fc-adc5-454cba0cebfc",
      "name": "Azure OpenAI Fit Score",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        768,
        1632
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "jjUOHftcBqLwwjjm",
          "name": "Azure OpenAI API Key-03May26"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const job = $('Prepare Fit Input').item.json;\nconst raw = $json.choices?.[0]?.message?.content || '{}';\nlet fit;\ntry { fit = JSON.parse(raw); } catch (e) { fit = { fit_score: 0, decision: 'needs_review', parse_error: true }; }\nreturn [{ json: { ...job, fit } }];"
      },
      "id": "e83d600c-5b11-4d8d-b15c-0c994867a022",
      "name": "Parse Fit Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        1632
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.fit.fit_score}}",
              "operation": "largerEqual",
              "value2": 80
            }
          ],
          "combinator": "and",
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          }
        },
        "options": {}
      },
      "id": "6014f3de-7a87-4f50-be55-a7e948b4acdd",
      "name": "Score >= 80?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1248,
        1632
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://testashok1.openai.azure.com/openai/deployments/Test-Ashok-1-gpt-4o/chat/completions?api-version=2024-02-01",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body_string }}",
        "options": {}
      },
      "id": "137571a9-0092-49e3-ae1d-09f4c28662a5",
      "name": "Azure OpenAI Generate Resume",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1488,
        1552
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "jjUOHftcBqLwwjjm",
          "name": "Azure OpenAI API Key-03May26"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const job = $('Parse Fit Score').item.json;\nconst raw = $json.choices?.[0]?.message?.content || '{}';\nlet resume;\ntry { resume = JSON.parse(raw); } catch (e) { resume = { parse_error: true, document_title: `Resume - ${job.title} - ${job.company_name}` }; }\nreturn [{ json: {\n  ...job,\n  resume_markdown: resume.resume_markdown || '',\n  resume_html: resume.resume_html || '',\n  tailoring_rationale: resume.tailoring_rationale || '',\n  status: 'needs_review',\n  fit_score: job.fit.fit_score,\n  fit_decision: job.fit.decision,\n  fit_rationale: job.fit.rationale || '',\n  matched_requirements: (job.fit.matched_requirements || []).join(', '),\n  missing_requirements: (job.fit.missing_requirements || []).join(', '),\n  updated_at: new Date().toISOString()\n} }];"
      },
      "id": "a94a75f3-aa0c-40ce-9863-5df5686baab5",
      "name": "Parse Resume",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1728,
        1552
      ]
    },
    {
      "parameters": {
        "jsCode": "const job = $json;\nreturn [{ json: {\n  ...job,\n  status: job.fit.fit_score >= 65 ? 'needs_review' : 'rejected',\n  fit_score: job.fit.fit_score,\n  fit_decision: job.fit.decision,\n  fit_rationale: job.fit.rationale || '',\n  matched_requirements: (job.fit.matched_requirements || []).join(', '),\n  missing_requirements: (job.fit.missing_requirements || []).join(', '),\n  updated_at: new Date().toISOString()\n} }];"
      },
      "id": "ab962fd9-03e1-4b83-9c27-e744f36ca897",
      "name": "Score < 80 - No Resume",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1488,
        1760
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "=1jkunkarVZDbhpy11G9ajWle7Ip-rYMCof5uWahzVXsE"
        },
        "sheetName": {
          "__rl": true,
          "value": "Jobs",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": null,
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "c88a10b2-93ba-41f0-86dc-89f97cfbd926",
      "name": "Update Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1968,
        1632
      ],
      "credentials": {
        "googleApi": {
          "id": "1EPATbG9UgFp0Cvm",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const job = $json;\nconst desc = (job.description || '').slice(0, 4000).replace(/[\\n\\r\\t]/g, ' ');\nif (desc.length < 200) throw new Error('Description too short (' + desc.length + ' chars) for job ' + job.job_id + ' - likely not enriched');\nconst resume = (job.master_resume || '').replace(/[\\n\\r\\t]/g, ' ');\nlet companyResearch = '';\nif (typeof job.company_research === 'object' && job.company_research) {\n  companyResearch = JSON.stringify(job.company_research).slice(0, 2000).replace(/[\\n\\r\\t]/g, ' ');\n} else if (typeof job.company_research === 'string') {\n  companyResearch = job.company_research.slice(0, 2000).replace(/[\\n\\r\\t]/g, ' ');\n}\n\nconst body = {\n  messages: [\n    {\n      role: \"system\",\n      content: \"You are an expert career strategist. Evaluate job relevance based on resume evidence, job description, and company context. Return strict JSON: job_id, fit_score (0-100), decision (reject|needs_review|generate_resume), rationale, matched_requirements (array), missing_requirements (array), resume_evidence (array), company_signals (array), risk_flags (array). Scoring: 90-100 excellent, 80-89 strong generate resume, 65-79 needs review, 40-64 weak reject, 0-39 irrelevant. Do not inflate. Do not assume skills not in resume.\"\n    },\n    {\n      role: \"user\",\n      content: \"JOB ID: \" + job.job_id + \" JOB TITLE: \" + job.title + \" COMPANY: \" + job.company_name + \" LOCATION: \" + job.location + \" SEARCH KEYWORDS: \" + (job.search_keywords || '') + \" RESUME TYPE: \" + job.selected_resume_type + \" JOB DESCRIPTION: \" + desc + \" COMPANY RESEARCH: \" + companyResearch + \" MASTER RESUME: \" + resume\n    }\n  ],\n  response_format: { type: \"json_object\" },\n  max_tokens: 1500\n};\n\nreturn [{ json: { ...job, body_string: JSON.stringify(body) } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        2240
      ],
      "id": "6f44890b-91e5-42ff-8673-55697695b2b0",
      "name": "Prepare Fit Request",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const job = $json;\nconst desc = (job.description || '').slice(0, 4000).replace(/[\\n\\r\\t]/g, ' ');\nconst resume = (job.master_resume || '').replace(/[\\n\\r\\t]/g, ' ');\nlet companyResearch = '';\nif (typeof job.company_research === 'object' && job.company_research) {\n  companyResearch = JSON.stringify(job.company_research).slice(0, 2000).replace(/[\\n\\r\\t]/g, ' ');\n} else if (typeof job.company_research === 'string') {\n  companyResearch = job.company_research.slice(0, 2000).replace(/[\\n\\r\\t]/g, ' ');\n}\n\nconst body = {\n  messages: [\n    {\n      role: \"system\",\n      content: \"You are an expert resume writer. Create a tailored resume using ONLY truthful info from the master resume. The master resume has ALL 7+ employers - include all relevant ones as separate sections. Return strict JSON: job_id, document_title, resume_html, resume_markdown, tailoring_rationale, keywords_used (array), risks_or_gaps (array). HTML FORMATTING: font-family 'Google Sans Text', Arial, sans-serif; body 10pt; section headers 13pt bold; color #1B1C1D; line-height 114%; thin 1px solid #1B1C1D <hr> under name; bullets with disc markers; no images/scripts/external CSS. Structure: Name 16pt bold centered, <hr>, Contact centered, then PROFESSIONAL SUMMARY, KEY EXPERTISE, PROFESSIONAL EXPERIENCE (each employer separate with title|company|dates then bullet achievements), KEY ACHIEVEMENTS, EDUCATION & CERTIFICATIONS, TECHNICAL SKILLS. Use company_research to reframe achievements with company-specific industry language - mirror their values, products, tech signals. Do NOT fabricate employers, dates, titles, metrics, certifications.\"\n    },\n    {\n      role: \"user\",\n      content: \"JOB ID: \" + job.job_id + \" JOB TITLE: \" + job.title + \" COMPANY: \" + job.company_name + \" JOB DESCRIPTION: \" + desc + \" COMPANY RESEARCH: \" + companyResearch + \" FIT: Score=\" + job.fit.fit_score + \" Matched=\" + JSON.stringify(job.fit.matched_requirements || []) + \" Missing=\" + JSON.stringify(job.fit.missing_requirements || []) + \" MASTER RESUME (ALL employers): \" + resume\n    }\n  ],\n  response_format: { type: \"json_object\" },\n  max_tokens: 4500\n};\n\nreturn [{ json: { ...job, body_string: JSON.stringify(body) } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        2160
      ],
      "id": "308a8ee8-b9fe-4f42-b8ae-06a53cf667a5",
      "name": "Prepare Resume Request",
      "onError": "continueErrorOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Read Enriched Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Enriched Only": {
      "main": [
        [
          {
            "node": "Prepare Fit Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Enriched Jobs": {
      "main": [
        [
          {
            "node": "Read Master Resume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Fit Input": {
      "main": [
        [
          {
            "node": "Prepare Fit Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Fit Score": {
      "main": [
        [
          {
            "node": "Parse Fit Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Fit Score": {
      "main": [
        [
          {
            "node": "Score >= 80?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score >= 80?": {
      "main": [
        [
          {
            "node": "Prepare Resume Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Score < 80 - No Resume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Generate Resume": {
      "main": [
        [
          {
            "node": "Parse Resume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Resume": {
      "main": [
        [
          {
            "node": "Update Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score < 80 - No Resume": {
      "main": [
        [
          {
            "node": "Update Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Fit Request": {
      "main": [
        [
          {
            "node": "Azure OpenAI Fit Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Resume Request": {
      "main": [
        [
          {
            "node": "Azure OpenAI Generate Resume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Master Resume": {
      "main": [
        [
          {
            "node": "Filter Enriched Only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "ce4fc47b-c8e7-4b59-a3f6-075eb60820ab",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "173b8a4569ad20652b77d367a41b875becb1783402651413873b07ab973a7fb1"
  },
  "id": "nDJ8doqO7iuWCccU",
  "tags": []
}