n8n/workflows/Job Agent - 03 Relevance And Resume.json
{
  "name": "Job Agent - 03 Relevance And Resume",
  "nodes": [
    {
      "parameters": {},
      "id": "ef2e9f1d-fc23-46d1-8509-50edc0544305",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        11024,
        8992
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $('Read Enriched Jobs').all();\nconst enriched = items.filter(i => (i.json.status || '').trim().toLowerCase() === 'enriched');\nif (enriched.length === 0) throw new Error('No enriched jobs found');\n\nconst keywordToTab = {\n  'AI Engineer': 'Master Resume - AI Engineer',\n  'AI ML Engineer': 'Master Resume - AI Engineer',\n  'Agentic AI Automation Engineer': 'Master Resume - AI Engineer',\n  'Process Automation Engineer': 'Master Resume - AI Engineer',\n  'AI Adoption Specialist': 'Master Resume - AI Adoption',\n  'AI Adoption Manager': 'Master Resume - AI Adoption',\n  'Digital Transformation Manager': 'Master Resume - AI Adoption',\n  'Digital & Process Lead': 'Master Resume - AI Adoption',\n  'AI Change Manager': 'Master Resume - AI Adoption',\n  'AI Implementation Specialist': 'Master Resume - AI Adoption',\n  'ISO 9001 Quality Manager': 'Master Resume - Quality Manager',\n  'Quality Assurance Manager': 'Master Resume - Quality Manager',\n  'Quality Manager': 'Master Resume - Quality Manager',\n  'Continuous Improvement Specialist': 'Master Resume - Process Improvement',\n  'Continuous Improvement Manager': 'Master Resume - Process Improvement',\n  'Lean Six Sigma': 'Master Resume - Process Improvement',\n  'Process Improvement Analyst': 'Master Resume - Process Analyst',\n  'Operations Improvement Manager': 'Master Resume - Process Analyst',\n  'Operations Improvement Analyst': 'Master Resume - Process Analyst',\n  'Change Manager': 'Master Resume - Change Manager',\n  'Organisational Change Manager': 'Master Resume - Change Manager',\n  'Change & Transformation Lead': 'Master Resume - Change Manager',\n  'Business Transformation Manager': 'Master Resume - Change Manager',\n  'HubSpot Specialist': 'Master Resume - HubSpot Consultant',\n  'HubSpot Consultant': 'Master Resume - HubSpot Consultant',\n  'CRM Specialist': 'Master Resume - HubSpot Consultant',\n  'CRM Manager': 'Master Resume - HubSpot Consultant',\n  'CRM Consultant': 'Master Resume - HubSpot Consultant',\n  'Marketing Automation Specialist': 'Master Resume - HubSpot Consultant',\n  'Revenue Operations Specialist': 'Master Resume - HubSpot Consultant',\n  'Sales Operations Specialist': 'Master Resume - HubSpot Consultant',\n  'Event Manager': 'Master Resume - Event Manager',\n  'Event Coordinator': 'Master Resume - Event Manager',\n  'Event Program Officer': 'Master Resume - Event Manager',\n  'Events Manager': 'Master Resume - Event Manager',\n  'Events Coordinator': 'Master Resume - Event Manager',\n  'Conference Manager': 'Master Resume - Event Manager',\n  'Marketing Events Manager': 'Master Resume - Event Manager'\n};\n\nreturn enriched.slice(0, 5).map(i => {\n  const kw = (i.json.search_keywords || '').trim();\n  const resume_tab = keywordToTab[kw] || 'Master Resume';\n  return { json: { ...i.json, resume_tab } };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11920,
        8816
      ],
      "id": "acd9c57b-5a00-476f-bcc3-d3d30fd2465f",
      "name": "Filter Enriched Only"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "=1jkunkarVZDbhpy11G9ajWle7Ip-rYMCof5uWahzVXsE"
        },
        "sheetName": {
          "__rl": true,
          "value": "Jobs",
          "mode": "name"
        },
        "options": {}
      },
      "id": "24a361f6-63a4-4b21-a354-2754285fdc96",
      "name": "Read Enriched Jobs",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        11392,
        8640
      ],
      "credentials": {
        "googleApi": {
          "id": "1EPATbG9UgFp0Cvm",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "=1jkunkarVZDbhpy11G9ajWle7Ip-rYMCof5uWahzVXsE"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Filter Enriched Only').first().json.resume_tab }}",
          "mode": "name"
        },
        "options": {}
      },
      "id": "9eb7aa0e-6092-4596-98ff-3baa70c7dff9",
      "name": "Read Master Resume",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        11696,
        8592
      ],
      "credentials": {
        "googleApi": {
          "id": "1EPATbG9UgFp0Cvm",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const job = $('Filter Enriched Only').item.json;\nconst allRows = $('Read Master Resume').all().map(i => i.json);\n\n// Get full data from Supabase\nlet supabaseData = {};\ntry {\n  const supaResult = $('Fetch from Supabase').item.json;\n  // Supabase returns array, get first item\n  const record = Array.isArray(supaResult) ? supaResult[0] : supaResult;\n  if (record && record.metadata) {\n    supabaseData = typeof record.metadata === 'string' ? JSON.parse(record.metadata) : record.metadata;\n  }\n} catch(e) {}\n\n// Use Supabase description if available, fallback to Sheet\nconst description = supabaseData.description || job.description || '';\n\n// Use Supabase company_research if available, fallback to Sheet\nlet companyResearch = supabaseData.company_research || job.company_research || '';\nif (typeof companyResearch === 'string' && companyResearch.startsWith('{')) {\n  try { companyResearch = JSON.parse(companyResearch); } catch(e) {}\n}\n\n// Build master resume\nconst resumeRows = allRows.filter(r => r.section && r.section.trim());\nconst seen = new Set();\nconst uniqueRows = resumeRows.filter(r => {\n  const key = r.section.trim();\n  if (seen.has(key)) return false;\n  seen.add(key);\n  return true;\n});\nconst skipSections = new Set(['role_to_resume_mapping']);\nconst masterResume = uniqueRows\n  .filter(r => !skipSections.has(r.section) && (r.content || '').trim())\n  .map(r => (r.section || '').toUpperCase() + ':\\n' + (r.content || ''))\n  .join('\\n\\n');\n\nif (masterResume.length < 100) throw new Error('Resume content too short.');\n\nreturn [{ json: {\n  ...job,\n  description: description,\n  company_research: companyResearch,\n  master_resume: masterResume.slice(0, 15000),\n  selected_resume_type: 'unified'\n} }];\n"
      },
      "id": "76c4d5ee-85ba-47ac-a545-4da63c6c107e",
      "name": "Prepare Fit Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12128,
        8544
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://testashok1.openai.azure.com/openai/deployments/Test-Ashok-1-gpt-4o/chat/completions?api-version=2024-02-01",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body_string }}",
        "options": {}
      },
      "id": "7a9a47ca-2b59-467d-b65b-51ac47ef092e",
      "name": "Azure OpenAI Fit Score",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        12368,
        8544
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "jjUOHftcBqLwwjjm",
          "name": "Azure OpenAI API Key-03May26"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const job = $('Prepare Fit Input').item.json;\nconst raw = $json.choices?.[0]?.message?.content || '{}';\nlet fit;\ntry { fit = JSON.parse(raw); } catch (e) { fit = { fit_score: 0, decision: 'needs_review', parse_error: true }; }\nreturn [{ json: { ...job, fit } }];"
      },
      "id": "3ed27e24-8431-4d23-83eb-50b6f2bb9bd6",
      "name": "Parse Fit Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12608,
        8544
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.fit.fit_score}}",
              "operation": "largerEqual",
              "value2": 80
            }
          ],
          "combinator": "and",
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          }
        },
        "options": {}
      },
      "id": "fac09189-d68b-48e5-9561-88fa0ef00e1c",
      "name": "Score >= 80?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        12848,
        8544
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://testashok1.openai.azure.com/openai/deployments/Test-Ashok-1-gpt-4o/chat/completions?api-version=2024-02-01",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body_string }}",
        "options": {}
      },
      "id": "6f5dac2a-c549-452a-a47b-c5477e0ab085",
      "name": "Azure OpenAI Generate Resume",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        13088,
        8464
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "jjUOHftcBqLwwjjm",
          "name": "Azure OpenAI API Key-03May26"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const job = $('Parse Fit Score').item.json;\nconst raw = $json.choices?.[0]?.message?.content || '{}';\nlet resume;\ntry { resume = JSON.parse(raw); } catch (e) { resume = { parse_error: true, document_title: `Resume - ${job.title} - ${job.company_name}` }; }\nreturn [{ json: {\n  ...job,\n  resume_markdown: resume.resume_markdown || '',\n  resume_html: resume.resume_html || '',\n  tailoring_rationale: resume.tailoring_rationale || '',\n  status: 'needs_review',\n  fit_score: job.fit.fit_score,\n  fit_decision: job.fit.decision,\n  fit_rationale: job.fit.rationale || '',\n  matched_requirements: (job.fit.matched_requirements || []).join(', '),\n  missing_requirements: (job.fit.missing_requirements || []).join(', '),\n  updated_at: new Date().toISOString()\n} }];"
      },
      "id": "d8a613eb-a758-4840-a086-217c71a00089",
      "name": "Parse Resume",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13328,
        8464
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ftbxxcgaiisvzmaijyhd.supabase.co/rest/v1/rpc/upsert_job_application",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ0Ynh4Y2dhaWlzdnptYWlqeWhkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NzkzNTI3MiwiZXhwIjoyMDkzNTExMjcyfQ.ExRuJ4LTKKOUha1IoqOIGcau2i4N5eoFOwibgY907Tc"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ0Ynh4Y2dhaWlzdnptYWlqeWhkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NzkzNTI3MiwiZXhwIjoyMDkzNTExMjcyfQ.ExRuJ4LTKKOUha1IoqOIGcau2i4N5eoFOwibgY907Tc"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ p_job_id: $json.job_id, p_title: $json.title, p_company_name: $json.company_name, p_location: $json.location || '', p_industry: '', p_status: $json.status, p_fit_score: $json.fit_score, p_content: '', p_metadata: { resume_markdown: $json.resume_markdown, resume_html: $json.resume_html, tailoring_rationale: $json.tailoring_rationale, fit_rationale: $json.fit_rationale, matched_requirements: $json.matched_requirements, missing_requirements: $json.missing_requirements }, p_embedding: null }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        13776,
        8368
      ],
      "id": "182db095-37cd-4501-98cc-40fa5d65e695",
      "name": "Upsert Resume to Supabase",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Only output sheet-relevant fields - heavy content lives in Supabase\nconst job = $('Parse Resume').item.json;\nreturn [{ json: {\n  job_id: job.job_id,\n  status: job.status,\n  fit_score: job.fit_score,\n  fit_decision: job.fit_decision,\n  fit_rationale: job.fit_rationale,\n  matched_requirements: job.matched_requirements,\n  missing_requirements: job.missing_requirements,\n  resume_markdown: 'See Supabase',\n  resume_html: 'See Supabase',\n  updated_at: job.updated_at\n} }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13664,
        8816
      ],
      "id": "8299ee9d-c41c-426d-b45d-a200b7fb44ca",
      "name": "Restore Job Data"
    },
    {
      "parameters": {
        "jsCode": "const job = $json;\nreturn [{ json: {\n  job_id: job.job_id,\n  status: job.fit.fit_score >= 65 ? 'needs_review' : 'rejected',\n  fit_score: job.fit.fit_score,\n  fit_decision: job.fit.decision,\n  fit_rationale: job.fit.rationale || '',\n  matched_requirements: (job.fit.matched_requirements || []).join(', '),\n  missing_requirements: (job.fit.missing_requirements || []).join(', '),\n  updated_at: new Date().toISOString()\n} }];"
      },
      "id": "907efb1c-bcbd-4cf9-8bb4-93c6262b59f6",
      "name": "Score < 80 - No Resume",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13088,
        8672
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "=1jkunkarVZDbhpy11G9ajWle7Ip-rYMCof5uWahzVXsE"
        },
        "sheetName": {
          "__rl": true,
          "value": "Jobs",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "job_id"
          ],
          "schema": [
            {
              "id": "serial_no",
              "displayName": "serial_no",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "job_id",
              "displayName": "job_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "job_url_hash",
              "displayName": "job_url_hash",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "job_url",
              "displayName": "job_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_name",
              "displayName": "company_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_url",
              "displayName": "company_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_website",
              "displayName": "company_website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "remote_policy",
              "displayName": "remote_policy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "salary",
              "displayName": "salary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "contract_type",
              "displayName": "contract_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "posted_at",
              "displayName": "posted_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "apply_url",
              "displayName": "apply_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "search_keywords",
              "displayName": "search_keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fit_score",
              "displayName": "fit_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fit_decision",
              "displayName": "fit_decision",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fit_rationale",
              "displayName": "fit_rationale",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "matched_requirements",
              "displayName": "matched_requirements",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "missing_requirements",
              "displayName": "missing_requirements",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_summary",
              "displayName": "company_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_research",
              "displayName": "company_research",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resume_markdown",
              "displayName": "resume_markdown",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resume_html",
              "displayName": "resume_html",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resume_doc_url",
              "displayName": "resume_doc_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "job_pdf_url",
              "displayName": "job_pdf_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "review_notes",
              "displayName": "review_notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "applied_at",
              "displayName": "applied_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "error",
              "displayName": "error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "scrape_url",
              "displayName": "scrape_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "screenshot_base64",
              "displayName": "screenshot_base64",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "master_resume",
              "displayName": "master_resume",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "selected_resume_type",
              "displayName": "selected_resume_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fit",
              "displayName": "fit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tailoring_rationale",
              "displayName": "tailoring_rationale",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_research_note",
              "displayName": "company_research_note",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "_empty",
              "displayName": "_empty",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "search_url",
              "displayName": "search_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "_no_new_jobs",
              "displayName": "_no_new_jobs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "1e18db48-7b5c-46da-8700-2211d0d7cb17",
      "name": "Update Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        13968,
        8608
      ],
      "credentials": {
        "googleApi": {
          "id": "1EPATbG9UgFp0Cvm",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const job = $json;\nconst desc = (job.description || '').slice(0, 4000).replace(/[\\n\\r\\t]/g, ' ');\nif (desc.length < 200) throw new Error('Description too short (' + desc.length + ' chars) for job ' + job.job_id + ' - likely not enriched');\nconst resume = (job.master_resume || '').replace(/[\\n\\r\\t]/g, ' ');\nlet companyResearch = '';\nif (typeof job.company_research === 'object' && job.company_research) {\n  companyResearch = JSON.stringify(job.company_research).slice(0, 2000).replace(/[\\n\\r\\t]/g, ' ');\n} else if (typeof job.company_research === 'string') {\n  companyResearch = job.company_research.slice(0, 2000).replace(/[\\n\\r\\t]/g, ' ');\n}\n\nconst body = {\n  messages: [\n    {\n      role: \"system\",\n      content: \"You are an expert career strategist. Evaluate job relevance based on resume evidence, job description, and company context. Return strict JSON: job_id, fit_score (0-100), decision (reject|needs_review|generate_resume), rationale, matched_requirements (array), missing_requirements (array), resume_evidence (array), company_signals (array), risk_flags (array). Scoring: 90-100 excellent, 80-89 strong generate resume, 65-79 needs review, 40-64 weak reject, 0-39 irrelevant. Do not inflate. Do not assume skills not in resume.\"\n    },\n    {\n      role: \"user\",\n      content: \"JOB ID: \" + job.job_id + \" JOB TITLE: \" + job.title + \" COMPANY: \" + job.company_name + \" LOCATION: \" + job.location + \" SEARCH KEYWORDS: \" + (job.search_keywords || '') + \" RESUME TYPE: \" + job.selected_resume_type + \" JOB DESCRIPTION: \" + desc + \" COMPANY RESEARCH: \" + companyResearch + \" MASTER RESUME: \" + resume\n    }\n  ],\n  response_format: { type: \"json_object\" },\n  max_tokens: 1500\n};\n\nreturn [{ json: { ...job, body_string: JSON.stringify(body) } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11920,
        9152
      ],
      "id": "cd9e6e98-13bd-479b-bff0-77b2c41d97b2",
      "name": "Prepare Fit Request",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const job = $json;\nconst desc = (job.description || '').slice(0, 4000).replace(/[\\n\\r\\t]/g, ' ');\nconst resume = (job.master_resume || '').replace(/[\\n\\r\\t]/g, ' ');\nlet companyResearch = '';\nif (typeof job.company_research === 'object' && job.company_research) {\n  companyResearch = JSON.stringify(job.company_research).slice(0, 2000).replace(/[\\n\\r\\t]/g, ' ');\n} else if (typeof job.company_research === 'string') {\n  companyResearch = job.company_research.slice(0, 2000).replace(/[\\n\\r\\t]/g, ' ');\n}\n\nconst body = {\n  messages: [\n    {\n      role: \"system\",\n      content: \"You are an expert resume writer. Create a tailored resume using ONLY truthful info from the master resume. CRITICAL: Include ALL employers from the master resume as separate sections in PROFESSIONAL EXPERIENCE - do NOT omit any employer regardless of how brief or old the entry is. Return strict JSON: job_id, document_title, resume_html, resume_markdown, tailoring_rationale, keywords_used (array), risks_or_gaps (array), sample_projects (array of 5 objects with title and description fields). HTML FORMATTING: font-family 'Google Sans Text', Arial, sans-serif; body 10pt; section headers 13pt bold; color #1B1C1D; line-height 114%; thin 1px solid #1B1C1D <hr> under name; bullets with disc markers; no images/scripts/external CSS. Structure: Name 16pt bold centered, <hr>, Contact centered, then PROFESSIONAL SUMMARY, KEY EXPERTISE, PROFESSIONAL EXPERIENCE (each employer separate with title|company|dates then bullet achievements), KEY ACHIEVEMENTS, EDUCATION & CERTIFICATIONS, TECHNICAL SKILLS, then RELEVANT PROJECT EXAMPLES section. Use company_research to reframe achievements with company-specific industry language. Do NOT fabricate employers, dates, titles, metrics, certifications. MANDATORY SAMPLE PROJECTS SECTION: You MUST include a section titled 'RELEVANT PROJECT EXAMPLES' containing exactly 5 project ideas after TECHNICAL SKILLS. This section is REQUIRED - do not skip it. These are NOT from the candidate's resume - they are hypothetical but realistic AI/automation projects that would be highly relevant to the TARGET COMPANY's industry, products, and challenges. Each project MUST follow this exact format: Bold title on its own line, then 4-5 sentences in first person describing: (1) what I architected/built/engineered and the specific tools used (reference tools from the job description like Python, GCP, n8n, Azure OpenAI, LangGraph etc), (2) the technical approach with specific integration details (e.g. cross-referencing with vector embeddings, streaming real-time metrics), (3) the measurable outcome with specific metrics (percentages, dollar amounts, time savings), (4) the business impact explaining how this transformed operations or customer experience. Example format: 'AI-Driven Fraud Detection & Prevention - I architected an automated Fraud Detection Pipeline using n8n and Azure OpenAI to analyze call transcripts for social engineering patterns in real-time. By cross-referencing caller metadata with Pinecone vector embeddings of known fraud tactics, I improved detection speed by 15%. This system balanced a frictionless customer experience with rigorous security protocols, significantly de-risking contact centre operations.' Tailor all 5 project themes specifically to the target company's industry from company_research. Include in both resume_html (h2 section with each project as h3 title + p description) and sample_projects JSON array.\"\n    },\n    {\n      role: \"user\",\n      content: \"JOB ID: \" + job.job_id + \" JOB TITLE: \" + job.title + \" COMPANY: \" + job.company_name + \" JOB DESCRIPTION: \" + desc + \" COMPANY RESEARCH: \" + companyResearch + \" FIT: Score=\" + job.fit.fit_score + \" Matched=\" + JSON.stringify(job.fit.matched_requirements || []) + \" Missing=\" + JSON.stringify(job.fit.missing_requirements || []) + \" MASTER RESUME (ALL employers): \" + resume\n    }\n  ],\n  response_format: { type: \"json_object\" },\n  max_tokens: 12000\n};\n\nreturn [{ json: { ...job, body_string: JSON.stringify(body) } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12640,
        9072
      ],
      "id": "78e70ecf-7d09-417c-8c13-8a3bdb937874",
      "name": "Prepare Resume Request",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "=https://ftbxxcgaiisvzmaijyhd.supabase.co/rest/v1/job_applications?job_id=eq.{{ $('Filter Enriched Only').item.json.job_id }}&select=content,metadata\n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ0Ynh4Y2dhaWlzdnptYWlqeWhkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NzkzNTI3MiwiZXhwIjoyMDkzNTExMjcyfQ.ExRuJ4LTKKOUha1IoqOIGcau2i4N5eoFOwibgY907Tc"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ0Ynh4Y2dhaWlzdnptYWlqeWhkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NzkzNTI3MiwiZXhwIjoyMDkzNTExMjcyfQ.ExRuJ4LTKKOUha1IoqOIGcau2i4N5eoFOwibgY907Tc"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        10400,
        7600
      ],
      "id": "8c319bbe-5ac0-4a33-8f1f-0e194113e92b",
      "name": "Fetch from Supabase",
      "onError": "continueErrorOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Read Enriched Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Enriched Jobs": {
      "main": [
        [
          {
            "node": "Filter Enriched Only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Fit Input": {
      "main": [
        [
          {
            "node": "Prepare Fit Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Fit Score": {
      "main": [
        [
          {
            "node": "Parse Fit Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Fit Score": {
      "main": [
        [
          {
            "node": "Score >= 80?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score >= 80?": {
      "main": [
        [
          {
            "node": "Prepare Resume Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Score < 80 - No Resume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Generate Resume": {
      "main": [
        [
          {
            "node": "Parse Resume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Resume": {
      "main": [
        [
          {
            "node": "Upsert Resume to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Resume to Supabase": {
      "main": [
        [
          {
            "node": "Restore Job Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Restore Job Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore Job Data": {
      "main": [
        [
          {
            "node": "Update Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score < 80 - No Resume": {
      "main": [
        [
          {
            "node": "Update Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Fit Request": {
      "main": [
        [
          {
            "node": "Azure OpenAI Fit Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Resume Request": {
      "main": [
        [
          {
            "node": "Azure OpenAI Generate Resume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Master Resume": {
      "main": [
        [
          {
            "node": "Fetch from Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Enriched Only": {
      "main": [
        [
          {
            "node": "Read Master Resume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch from Supabase": {
      "main": [
        [
          {
            "node": "Prepare Fit Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "ziidVNe46jymTRk2",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "52917404-a2ca-4ae1-9ffd-b6ca9436eb41",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "173b8a4569ad20652b77d367a41b875becb1783402651413873b07ab973a7fb1"
  },
  "id": "nDJ8doqO7iuWCccU",
  "tags": []
}