n8n/workflows/Job Agent - 06 Chat with Jobs.json
{
  "name": "Job Agent - 06 Chat with Jobs",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "4147982f-3860-45fc-9b18-77c964fd1bc2",
      "name": "When chat message received",
      "webhookId": "job-agent-chat"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://testashok1.openai.azure.com/openai/deployments/testashok1-noble-oak-text-embedding-3-small/embeddings?api-version=2023-05-15",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body_string }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        0
      ],
      "id": "5e95e4d4-a3ef-4b39-8b63-076cd8db4250",
      "name": "Embed Query",
      "credentials": {
        "httpHeaderAuth": {
          "id": "jjUOHftcBqLwwjjm",
          "name": "Azure OpenAI API Key-03May26"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ftbxxcgaiisvzmaijyhd.supabase.co/rest/v1/rpc/match_job_applications",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ0Ynh4Y2dhaWlzdnptYWlqeWhkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NzkzNTI3MiwiZXhwIjoyMDkzNTExMjcyfQ.ExRuJ4LTKKOUha1IoqOIGcau2i4N5eoFOwibgY907Tc"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ0Ynh4Y2dhaWlzdnptYWlqeWhkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NzkzNTI3MiwiZXhwIjoyMDkzNTExMjcyfQ.ExRuJ4LTKKOUha1IoqOIGcau2i4N5eoFOwibgY907Tc"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ query_embedding: $json.data[0].embedding, match_count: 5, filter: {} }) }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        688,
        0
      ],
      "id": "7abc0fb7-0612-47bd-abef-eb80da2b78b1",
      "name": "Search Supabase"
    },
    {
      "parameters": {
        "jsCode": "const results = $json;\nconst query = $('When chat message received').item.json.chatInput;\n\n// Build context from search results\nlet context = '';\nif (Array.isArray(results) && results.length > 0) {\n  context = results.map((r, i) => \n    `[Job ${i+1}] ${r.title} at ${r.company_name} (${r.location}) - Score: ${r.fit_score || 'N/A'}, Industry: ${r.industry}\\nContent: ${(r.content || '').slice(0, 1000)}`\n  ).join('\\n\\n');\n} else {\n  context = 'No matching jobs found in the database.';\n}\n\nconst body = {\n  messages: [\n    {\n      role: \"system\",\n      content: \"You are a job search assistant for Ashok Mulchandani. You have access to a database of job applications, company research, and fit analyses. Answer questions using the provided job context. Be specific - mention company names, job titles, requirements, and scores. If asked about skill gaps, reference the missing_requirements from fit analyses. Context:\\n\\n\" + context\n    },\n    {\n      role: \"user\",\n      content: query\n    }\n  ],\n  max_tokens: 1500\n};\n\nreturn [{ json: { body_string: JSON.stringify(body), context_count: Array.isArray(results) ? results.length : 0 } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        0
      ],
      "id": "305d20d1-fe90-4e5b-8185-e98b3350366b",
      "name": "Build Chat Prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://testashok1.openai.azure.com/openai/deployments/Test-Ashok-1-gpt-4o/chat/completions?api-version=2025-01-01-preview",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body_string }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1168,
        0
      ],
      "id": "21984cf6-f545-4bcd-9ef9-d77d19634550",
      "name": "Azure OpenAI Chat",
      "credentials": {
        "httpHeaderAuth": {
          "id": "jjUOHftcBqLwwjjm",
          "name": "Azure OpenAI API Key-03May26"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $json.choices?.[0]?.message?.content || 'No response generated.';\nreturn [{ json: { output: response } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1408,
        0
      ],
      "id": "fca12a70-034c-4e13-b76b-f83b98160091",
      "name": "Format Response"
    },
    {
      "parameters": {
        "jsCode": "const input = ($json.chatInput || '').replace(/[\\n\\r\\t]/g, ' ').trim();\nreturn [{ json: { body_string: JSON.stringify({ input }) } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "fb8156c0-3ed9-4020-9341-c54c98992bd0",
      "name": "Prepare Embed Body"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Prepare Embed Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embed Query": {
      "main": [
        [
          {
            "node": "Search Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Supabase": {
      "main": [
        [
          {
            "node": "Build Chat Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Chat Prompt": {
      "main": [
        [
          {
            "node": "Azure OpenAI Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Chat": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Embed Body": {
      "main": [
        [
          {
            "node": "Embed Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "95aff3ab-bf83-42a0-a53c-7ca80134c1dc",
  "meta": {
    "instanceId": "173b8a4569ad20652b77d367a41b875becb1783402651413873b07ab973a7fb1"
  },
  "id": "6QMVUocxWf1gUycw",
  "tags": []
}