n8n/workflows/Job Agent - 02 Company Enrichment.json
{
  "name": "Job Agent - 02 Company Enrichment",
  "nodes": [
    {
      "parameters": {},
      "id": "815895da-d989-4522-86e6-0d2e261167be",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        11584,
        5520
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $json;\nconst allLinks = input.links || [];\n\n// Get company_website from upstream\nlet companyWebsite = '';\ntry { companyWebsite = $('Extract Full Description').item.json.company_website || ''; } catch(e) {}\nif (!companyWebsite && allLinks.length > 0) {\n  // Derive from first link\n  const first = allLinks[0];\n  companyWebsite = first.split('/').slice(0, 3).join('/');\n}\nconst baseUrl = companyWebsite.replace(/\\/$/, '');\n\n// Priority patterns for company research\nconst priorityPatterns = [/\\/about/i, /\\/team/i, /\\/product/i, /\\/service/i, /\\/what-we-do/i, /\\/our-story/i, /\\/solution/i, /\\/client/i, /\\/customer/i, /\\/market/i, /\\/impact/i, /\\/specialisation/i, /\\/capabilities/i, /\\/technology/i, /\\/platform/i, /\\/values/i, /\\/culture/i, /\\/innovation/i];\n\n// Exclude patterns (low-value for company research)\nconst excludePatterns = [/\\/blog/i, /\\/news/i, /\\/press/i, /\\/job-/i, /\\/job_/i, /\\/careers\\//i, /\\/tv/i, /\\/video/i, /\\/podcast/i, /\\/webinar/i, /\\/event/i, /\\/faq/i, /\\/support/i, /\\/help/i, /\\/login/i, /\\/signup/i, /\\/privacy/i, /\\/terms/i, /\\/cookie/i, /\\/test\\//i, /\\/404/i, /improve-your-resume/i, /counter-offer/i, /interview-question/i, /how-to-/i, /how-do-i-/i];\n\nconst urls = [];\nif (baseUrl) urls.push(baseUrl);\n\n// First pass: priority pages only\nfor (const link of allLinks) {\n  if (urls.length >= 10) break;\n  if (!link || link === baseUrl || link === baseUrl + '/') continue;\n  const isExcluded = excludePatterns.some(p => p.test(link));\n  if (isExcluded) continue;\n  const isPriority = priorityPatterns.some(p => p.test(link));\n  if (isPriority && !urls.includes(link) && !link.endsWith('.pdf')) {\n    urls.push(link);\n  }\n}\n\n// Second pass: fill remaining with non-excluded top-level pages\nif (urls.length < 10) {\n  for (const link of allLinks) {\n    if (urls.length >= 10) break;\n    if (!link || urls.includes(link) || link.endsWith('.pdf')) continue;\n    const isExcluded = excludePatterns.some(p => p.test(link));\n    if (isExcluded) continue;\n    // Prefer shallow pages (fewer path segments)\n    const depth = (link.replace(baseUrl, '').match(/\\//g) || []).length;\n    if (depth <= 2) urls.push(link);\n  }\n}\n\n// Filter out any empty URLs\nconst finalUrls = urls.filter(u => u && u.startsWith('http'));\n\nreturn finalUrls.map(url => ({ json: {\n  url,\n  scrape_urls_count: finalUrls.length,\n  map_urls_found: input.map_urls_found || 0,\n  sitemap_source: input.sitemap_source || 'none',\n  sitemap_urls_found: input.sitemap_urls_found || 0,\n  total_discovered: input.total_discovered || 0\n} }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        15872,
        5008
      ],
      "id": "704b93b8-1d4a-4687-ba18-6a4fe8afbffd",
      "name": "Pick Top Pages"
    },
    {
      "parameters": {
        "jsCode": "const input = $json;\nconst urls = input.scrape_urls || [];\nconst apiKey = 'fc-2357a08dfb754e50a94dfe4c1d15d2ca';\nlet combinedMarkdown = '';\n\nfor (const url of urls) {\n  try {\n    const resp = await fetch('https://api.firecrawl.dev/v1/scrape', {\n      method: 'POST',\n      headers: {\n        'Authorization': 'Bearer ' + apiKey,\n        'Content-Type': 'application/json'\n      },\n      body: JSON.stringify({ url, formats: ['markdown'], onlyMainContent: true })\n    });\n    const data = await resp.json();\n    const md = data.data?.markdown || '';\n    if (md) {\n      combinedMarkdown += '\\n\\n--- PAGE: ' + url + ' ---\\n\\n' + md.slice(0, 3000);\n    }\n  } catch (e) {}\n}\n\nreturn [{ json: {\n  ...input,\n  data: { markdown: combinedMarkdown.slice(0, 12000) }\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16192,
        4816
      ],
      "id": "a87af5ee-3e49-4da2-89c3-ddb8867d8b1e",
      "name": "Scrape and Combine Pages"
    },
    {
      "parameters": {
        "jsCode": "const job = $('Prepare Job Scrape').item.json;\nconst scrapeResult = $('Firecrawl Scrape Job Page').item.json;\nconst fullDescription = scrapeResult.data?.markdown || job.description || '';\n\n// Prioritize company_website from Google Sheet if already set\nlet companyWebsite = (job.company_website || '').trim();\n\nif (!companyWebsite.includes('http')) {\n  const excludedDomains = [\n    'seek.com', 'seek.com.au', 'au.seek.com',\n    'linkedin.com', 'indeed.com', 'glassdoor.com',\n    'jora.com', 'adzuna.com', 'careerone.com',\n    'ethicaljobs.com.au', 'google.com', 'googleapis.com',\n    'gstatic.com', 'facebook.com', 'twitter.com', 'x.com',\n    'cdn.seeklearning.com.au', 'help.au.seek.com',\n    'box.com', 'app.box.com', 'dropbox.com', 'drive.google.com',\n    'sharepoint.com', 'onedrive.live.com', 'wetransfer.com',\n    'iworkfor.nsw.gov.au', 'jobs.nsw.gov.au', 'mycareer.nsw.gov.au',\n    'youtube.com', 'vimeo.com', 'wikipedia.org', 'reddit.com'\n  ];\n  const urlRegex = /https?:\\/\\/(?:www\\.)?([a-zA-Z0-9.-]+\\.[a-z]{2,})/gi;\n  let match;\n  while ((match = urlRegex.exec(fullDescription)) !== null) {\n    const domain = match[1].toLowerCase();\n    const isExcluded = excludedDomains.some(ex => domain === ex || domain.endsWith('.' + ex));\n    if (!isExcluded) {\n      companyWebsite = match[0].split(/[)\\s]/)[0];\n      break;\n    }\n  }\n}\n\nreturn [{ json: {\n  ...job,\n  description: fullDescription.slice(0, 10000),\n  company_website: companyWebsite,\n  status: 'enrichment_pending'\n} }];\n"
      },
      "id": "9a6ce7e0-7dfd-4751-ae59-ae851f1c1170",
      "name": "Extract Full Description",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13440,
        5360
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v1/scrape",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"{{$json.scrape_url}}\",\n  \"formats\": [\"markdown\"],\n  \"onlyMainContent\": true,\n  \"waitFor\": 5000\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "4e165240-8903-4fff-83b8-b8b52bb2bd8f",
      "name": "Firecrawl Scrape Job Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        13200,
        5360
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "rBgY4HYcYC151dgK",
          "name": "Firecrawl API Key-Latest-03May26"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v1/scrape",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"{{$('Prepare Job Scrape').item.json.scrape_url}}\",\n  \"formats\": [\"screenshot@fullPage\"]\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "297cf4d6-cc96-4bbc-86ee-c340298eac9a",
      "name": "Firecrawl Screenshot Job Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        13200,
        5584
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "rBgY4HYcYC151dgK",
          "name": "Firecrawl API Key-Latest-03May26"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{$json.company_website}}",
              "rightValue": "http",
              "operator": {
                "type": "string",
                "operation": "contains"
              },
              "id": "has-website"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3f2775a2-5112-4086-949c-caa44fbe96f6",
      "name": "Has Company Website?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        13744,
        5344
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{$json.data.screenshot}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              },
              "id": "has-screenshot"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4f295b0d-9f39-40ef-8e3d-45504995935a",
      "name": "Has Screenshot?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        13696,
        5712
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v1/map",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"{{$json.company_website}}\",\n  \"search\": \"about company products services careers\",\n  \"limit\": 5\n}\n",
        "options": {
          "timeout": 30000
        }
      },
      "id": "3f358b52-6391-4212-8fb5-b1235f34dee1",
      "name": "Firecrawl Scrape Company",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        14224,
        5024
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "rBgY4HYcYC151dgK",
          "name": "Firecrawl API Key-Latest-03May26"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const job = $('Extract Full Description').item.json;\nconst companyMarkdown = $json.data?.markdown || 'No website content available';\n\nfunction clean(str) {\n  return (str || '').replace(/[\\x00-\\x1f\\x7f]/g, ' ').replace(/\\s+/g, ' ').trim();\n}\n\nconst body = {\n  messages: [\n    {\n      role: \"system\",\n      content: \"You extract concise company research for job application tailoring. Return JSON only with: company_summary (2-3 sentences), products (array), customers (array), values (array), technical_signals (array of tech/tools mentioned), hiring_signals (array), keywords (array of important terms for resume tailoring).\"\n    },\n    {\n      role: \"user\",\n      content: \"Company: \" + clean(job.company_name) + \" Job Title: \" + clean(job.title) + \" Company Website Content: \" + clean(companyMarkdown).slice(0, 4000) + \" Job Description: \" + clean(job.description).slice(0, 3000)\n    }\n  ],\n  response_format: { type: \"json_object\" },\n  max_tokens: 1000\n};\n\nreturn [{ json: { body_string: JSON.stringify(body) } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16480,
        5008
      ],
      "id": "da3a7fa3-470f-4e99-93a8-430b19272c14",
      "name": "Prepare Azure Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://testashok1.openai.azure.com/openai/deployments/testashok1-gpt-4o-mini/chat/completions?api-version=2024-02-01",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body_string }}",
        "options": {}
      },
      "id": "b848b5ec-3d96-4eae-9cac-5d02935ebf26",
      "name": "Azure OpenAI Company Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        16768,
        5008
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "jjUOHftcBqLwwjjm",
          "name": "Azure OpenAI API Key-03May26"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get full data from the enrichment pipeline\nconst job = $('Extract Full Description').item.json;\nconst raw = $json.choices?.[0]?.message?.content || '{}';\nlet company;\ntry { company = JSON.parse(raw); } catch (e) { company = { parse_error: true, raw: raw.slice(0, 500) }; }\n\nconst pdfUrl = job.job_pdf_url || '';\n\nlet scrapeInput = {};\ntry { scrapeInput = $('Scrape and Combine Pages').item.json || {}; } catch(e) {}\n\ncompany.scraped_urls = scrapeInput.scrape_urls || [];\ncompany.discovery = {\n  sitemap_source: scrapeInput.sitemap_source || 'none',\n  sitemap_urls_found: scrapeInput.sitemap_urls_found || 0,\n  map_urls_found: scrapeInput.map_urls_found || 0,\n  total_discovered: scrapeInput.total_discovered || 0,\n  pages_scraped: (scrapeInput.scrape_urls || []).length\n};\n\nconst companyResearchStr = JSON.stringify(company);\n\n// Pass full data for vector embedding (before trimming for sheet)\nreturn [{ json: {\n  job_id: job.job_id,\n  job_url_hash: job.job_url_hash,\n  title: job.title,\n  company_name: job.company_name,\n  company_url: job.company_url || '',\n  company_website: job.company_website || '',\n  location: job.location || '',\n  remote_policy: job.remote_policy || '',\n  salary: job.salary || '',\n  contract_type: job.contract_type || '',\n  search_keywords: job.search_keywords || '',\n  job_url: job.job_url || '',\n  full_description: (job.description || '').slice(0, 10000),\n  company_summary: company.company_summary || 'No summary available',\n  company_research_str: companyResearchStr,\n  job_pdf_url: pdfUrl,\n  status: 'enriched',\n  updated_at: new Date().toISOString()\n} }];\n"
      },
      "id": "df9a9793-3eb0-49ad-9120-9cccfbbee293",
      "name": "Parse Company Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        17008,
        5008
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "=1jkunkarVZDbhpy11G9ajWle7Ip-rYMCof5uWahzVXsE"
        },
        "sheetName": {
          "__rl": true,
          "value": "Jobs",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "job_id"
          ],
          "schema": [
            {
              "id": "serial_no",
              "displayName": "serial_no",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "job_id",
              "displayName": "job_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "job_url_hash",
              "displayName": "job_url_hash",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "job_url",
              "displayName": "job_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_name",
              "displayName": "company_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_url",
              "displayName": "company_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_website",
              "displayName": "company_website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "remote_policy",
              "displayName": "remote_policy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "salary",
              "displayName": "salary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "contract_type",
              "displayName": "contract_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "posted_at",
              "displayName": "posted_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "apply_url",
              "displayName": "apply_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "search_keywords",
              "displayName": "search_keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fit_score",
              "displayName": "fit_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fit_decision",
              "displayName": "fit_decision",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fit_rationale",
              "displayName": "fit_rationale",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "matched_requirements",
              "displayName": "matched_requirements",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "missing_requirements",
              "displayName": "missing_requirements",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_summary",
              "displayName": "company_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_research",
              "displayName": "company_research",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resume_markdown",
              "displayName": "resume_markdown",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resume_html",
              "displayName": "resume_html",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resume_doc_url",
              "displayName": "resume_doc_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "job_pdf_url",
              "displayName": "job_pdf_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "review_notes",
              "displayName": "review_notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "applied_at",
              "displayName": "applied_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "error",
              "displayName": "error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "scrape_url",
              "displayName": "scrape_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "screenshot_base64",
              "displayName": "screenshot_base64",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "b4d1723d-a88d-4242-8ac5-6306d5fbbc0b",
      "name": "Update Job Row",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        18160,
        6032
      ],
      "credentials": {
        "googleApi": {
          "id": "1EPATbG9UgFp0Cvm",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const driveFile = $json;\nconst pdfUrl = driveFile.webViewLink || driveFile.webContentLink || '';\nconst hyperlink = pdfUrl ? '=HYPERLINK(\"' + pdfUrl + '\",\"View Screenshot\")' : '';\nreturn [{ json: { job_pdf_url: hyperlink } }];"
      },
      "id": "cf529932-041c-44e4-8246-937e5d04adbc",
      "name": "Set PDF URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16224,
        5376
      ]
    },
    {
      "parameters": {
        "name": "={{$('Prepare Screenshot Binary').item.json.file_name}}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "=1sen-9CXBmjT63w4L3ypWN2dHFB8p_j93",
          "mode": "id"
        },
        "options": {}
      },
      "id": "f58898f1-1047-4546-8d29-5ea9b5e64a63",
      "name": "Upload Screenshot to Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        15984,
        5376
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "SMbQovwtw9fzGPf2",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{$json.screenshot_url}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "a34cf576-0db6-4f73-acff-7be1bde4374f",
      "name": "Download Screenshot PNG",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        15744,
        5376
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $json;\nconst screenshotUrl = input.data?.screenshot || '';\n\n// Get job data from upstream\nlet job = {};\ntry { job = $('Prepare Job Scrape').item.json; } catch(e) {}\n\nconst now = new Date();\nconst day = String(now.getDate()).padStart(2, '0');\nconst months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];\nconst mon = months[now.getMonth()];\nconst yr = String(now.getFullYear()).slice(-2);\nconst dateStr = `${day}_${mon}_${yr}`;\n\nconst company = (job.company_name || 'Company').replace(/[^a-zA-Z0-9]/g, '_');\nconst title = (job.title || 'Job').replace(/[^a-zA-Z0-9]/g, '_').slice(0, 40);\nconst location = (job.location || 'Sydney').replace(/[^a-zA-Z0-9]/g, '_').slice(0, 30);\nconst fileName = `Ashok_Mulchandani_${dateStr}_JD_screenshot_${company}_${title}_${location}.png`;\n\nreturn [{ json: { file_name: fileName, screenshot_url: screenshotUrl } }];"
      },
      "id": "173619f3-382b-4df5-9921-1efdbead987c",
      "name": "Prepare Screenshot Binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        15504,
        5376
      ]
    },
    {
      "parameters": {
        "jsCode": "const job = $('Extract Full Description').item.json;\n\nreturn [{ json: {\n  job_id: job.job_id,\n  job_url_hash: job.job_url_hash,\n  title: job.title,\n  company_name: job.company_name,\n  company_url: job.company_url || '',\n  company_website: job.company_website || '',\n  location: job.location || '',\n  remote_policy: job.remote_policy || '',\n  salary: job.salary || '',\n  contract_type: job.contract_type || '',\n  search_keywords: job.search_keywords || '',\n  job_url: job.job_url || '',\n  full_description: (job.description || '').slice(0, 10000),\n  company_summary: 'No company website found',\n  company_research_str: JSON.stringify({ company_summary: 'No company website found', products: [], customers: [], values: [], technical_signals: [], hiring_signals: [], keywords: [], scraped_urls: [], discovery: { sitemap_source: 'none', sitemap_urls_found: 0, map_urls_found: 0, total_discovered: 0, pages_scraped: 0 } }),\n  job_pdf_url: job.job_pdf_url || '',\n  status: 'enriched',\n  updated_at: new Date().toISOString()\n} }];\n"
      },
      "id": "1571d533-8a77-4523-9bf6-75708463f9e0",
      "name": "Skip Company Enrichment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        15504,
        5600
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "=1jkunkarVZDbhpy11G9ajWle7Ip-rYMCof5uWahzVXsE"
        },
        "sheetName": {
          "__rl": true,
          "value": "Jobs",
          "mode": "name"
        },
        "options": {}
      },
      "id": "33363b03-5120-445f-9d83-f0eadd64df45",
      "name": "Read Discovered Jobs",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        12560,
        5344
      ],
      "credentials": {
        "googleApi": {
          "id": "1EPATbG9UgFp0Cvm",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v1/scrape",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"https://duckduckgo.com/?q={{encodeURIComponent($json.company_name + ' official website')}}&num=5\",\n  \"formats\": [\"markdown\"],\n  \"onlyMainContent\": true,\n  \"waitFor\": 3000\n}\n",
        "options": {
          "timeout": 30000
        }
      },
      "id": "9730a142-0e63-49a0-88f9-5cbe417a1cae",
      "name": "Google Company Website",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        14720,
        5440
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "rBgY4HYcYC151dgK",
          "name": "Firecrawl API Key-Latest-03May26"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const job = $('Extract Full Description').item.json;\nconst googleMarkdown = $json.data?.markdown || '';\n\nconst excludedDomains = [\n  'seek.com', 'seek.com.au', 'au.seek.com',\n  'linkedin.com', 'indeed.com', 'glassdoor.com',\n  'jora.com', 'adzuna.com', 'careerone.com',\n  'ethicaljobs.com.au', 'google.com', 'googleapis.com',\n  'gstatic.com', 'facebook.com', 'twitter.com', 'x.com',\n  'youtube.com', 'wikipedia.org', 'reddit.com',\n  'duckduckgo.com', 'external-content.duckduckgo.com', 'bing.com',\n  'cdn.seeklearning.com.au', 'help.au.seek.com',\n  'apps.apple.com', 'play.google.com', 'itunes.apple.com',\n  'findglocal.com', 'start.duckduckgo.com', 'duck.ai',\n  'insideduckduckgo.substack.com'\n];\n\nconst urlRegex = /https?:\\/\\/(?:www\\.)?([a-zA-Z0-9.-]+\\.[a-z]{2,})/gi;\nlet match;\nlet companyWebsite = '';\nwhile ((match = urlRegex.exec(googleMarkdown)) !== null) {\n  const domain = match[1].toLowerCase();\n  const isExcluded = excludedDomains.some(ex => domain === ex || domain.endsWith('.' + ex));\n  if (!isExcluded) {\n    companyWebsite = 'https://' + domain;\n    break;\n  }\n}\n\nreturn [{ json: {\n  ...job,\n  company_website: companyWebsite\n} }];\n"
      },
      "id": "8cacbf4b-c78a-44e4-94c6-9bdec0a08c9a",
      "name": "Extract Company URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        15136,
        5648
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{$json.company_website}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              },
              "id": "has-url-now"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5e96d421-af5b-414b-b87a-a01ef3f687e7",
      "name": "Has URL Now?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        15088,
        5216
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $('Read Discovered Jobs').all();\nconst discovered = items.filter(i => (i.json.status || '').trim().toLowerCase() === 'discovered');\nif (discovered.length === 0) throw new Error('No discovered jobs found');\nreturn discovered.slice(0, 5).map(i => ({ json: i.json }));\n"
      },
      "id": "d0f340ac-05bf-4b24-9332-7fb74edb8b58",
      "name": "Filter Discovered Only",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12848,
        5504
      ]
    },
    {
      "parameters": {
        "jsCode": "const job = $json;\nreturn [{ json: { ...job, scrape_url: job.job_url || job.apply_url || '' } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13008,
        5360
      ],
      "id": "f932264f-8e1b-4945-aaca-e75322239ffb",
      "name": "Prepare Job Scrape"
    },
    {
      "parameters": {
        "jsCode": "// Get full data from previous node (Parse Company Summary)\nconst job = $json;\n\nlet companyResearchStr = job.company_research_str || '{}';\n\nconst parts = [\n  'Job Title: ' + (job.title || ''),\n  'Company: ' + (job.company_name || ''),\n  'Location: ' + (job.location || ''),\n  'Description: ' + (job.full_description || '').slice(0, 5000),\n];\n\nlet researchObj = {};\ntry { researchObj = JSON.parse(companyResearchStr); } catch(e) {}\nparts.push('Company Summary: ' + (researchObj.company_summary || job.company_summary || ''));\nparts.push('Products: ' + (researchObj.products || []).join(', '));\nparts.push('Customers: ' + (researchObj.customers || []).join(', '));\nparts.push('Values: ' + (researchObj.values || []).join(', '));\nparts.push('Technical Signals: ' + (researchObj.technical_signals || []).join(', '));\nparts.push('Hiring Signals: ' + (researchObj.hiring_signals || []).join(', '));\nparts.push('Keywords: ' + (researchObj.keywords || []).join(', '));\n\nconst content = parts.filter(Boolean).join('\\n');\n\nconst text = content.toLowerCase();\nlet industry = 'General';\nif (text.includes('retail') || text.includes('e-commerce')) industry = 'Retail';\nelse if (text.includes('defence') || text.includes('navy')) industry = 'Defence';\nelse if (text.includes('health') || text.includes('medical')) industry = 'Healthcare';\nelse if (text.includes('manufacturing') || text.includes('factory')) industry = 'Manufacturing';\nelse if (text.includes('finance') || text.includes('banking') || text.includes('fintech')) industry = 'Finance';\nelse if (text.includes('government') || text.includes('council')) industry = 'Government';\nelse if (text.includes('logistics') || text.includes('supply chain')) industry = 'Supply Chain';\n\nlet companyResearchObj = {};\ntry { companyResearchObj = JSON.parse(companyResearchStr); } catch(e) {}\n\nconst metadata = {\n  search_keywords: job.search_keywords || '',\n  job_url: job.job_url || '',\n  company_website: job.company_website || '',\n  contract_type: job.contract_type || '',\n  remote_policy: job.remote_policy || '',\n  salary: job.salary || '',\n  company_research: companyResearchObj,\n  description: (job.full_description || '').slice(0, 10000),\n  enriched_at: new Date().toISOString()\n};\n\nreturn [{ json: {\n  ...job,\n  industry: industry,\n  fit_score: null,\n    content: content.slice(0, 8000).replace(/\\\\/g, ' ').replace(/\"/g, \"'\").replace(/[\\x00-\\x1f\\x7f]/g, ' '),\n  metadata: metadata,\n  sheet_data: { job_id: job.job_id, job_url_hash: job.job_url_hash, title: job.title, company_name: job.company_name, company_url: job.company_url || '', company_website: job.company_website || '', location: job.location || '', remote_policy: job.remote_policy || '', salary: job.salary || '', contract_type: job.contract_type || '', description: 'See Supabase', company_summary: job.company_summary || '', company_research: 'Full data in Supabase', job_pdf_url: job.job_pdf_url || '', status: 'enriched', updated_at: new Date().toISOString() }\n} }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        17152,
        5488
      ],
      "id": "580d072a-429b-410d-80cd-4019ed82f55c",
      "name": "Prepare Vector Data"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://testashok1.openai.azure.com/openai/deployments/testashok1-noble-oak-text-embedding-3-small/embeddings?api-version=2023-05-15",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"input\": \"{{ $json.content.replace(/[\\n\\r\\t]/g, \" \").slice(0, 8000) }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        17360,
        5456
      ],
      "id": "bae73667-bf09-4fdc-a860-e2feb788d5e7",
      "name": "Generate Embedding",
      "credentials": {
        "httpHeaderAuth": {
          "id": "jjUOHftcBqLwwjjm",
          "name": "Azure OpenAI API Key-03May26"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ftbxxcgaiisvzmaijyhd.supabase.co/rest/v1/rpc/upsert_job_application",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ0Ynh4Y2dhaWlzdnptYWlqeWhkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NzkzNTI3MiwiZXhwIjoyMDkzNTExMjcyfQ.ExRuJ4LTKKOUha1IoqOIGcau2i4N5eoFOwibgY907Tc"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ0Ynh4Y2dhaWlzdnptYWlqeWhkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NzkzNTI3MiwiZXhwIjoyMDkzNTExMjcyfQ.ExRuJ4LTKKOUha1IoqOIGcau2i4N5eoFOwibgY907Tc"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ p_job_id: $(\"Prepare Vector Data\").item.json.job_id, p_title: $(\"Prepare Vector Data\").item.json.title, p_company_name: $(\"Prepare Vector Data\").item.json.company_name, p_location: $(\"Prepare Vector Data\").item.json.location, p_industry: $(\"Prepare Vector Data\").item.json.industry, p_status: $(\"Prepare Vector Data\").item.json.status, p_fit_score: $(\"Prepare Vector Data\").item.json.fit_score, p_content: $(\"Prepare Vector Data\").item.json.content, p_metadata: $(\"Prepare Vector Data\").item.json.metadata, p_embedding: $json.data[0].embedding }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        17552,
        5488
      ],
      "id": "51432ae2-132e-4e83-9c79-26c01b7f30ad",
      "name": "Upsert to Supabase",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Use sheet_data from the item that flowed through the chain\n// Upsert to Supabase returns {}, but we can access Prepare Vector Data via expression\nlet job;\ntry { job = $('Prepare Vector Data').item.json; } catch(e) { job = $json; }\nconst sd = job.sheet_data || job;\nreturn [{ json: sd }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        17760,
        5488
      ],
      "id": "96f4a1aa-1fc8-4b1e-8111-cad7e810f05d",
      "name": "Prepare Sheet Data"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v1/scrape",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"{{$json.url}}\",\n  \"formats\": [\"markdown\"],\n  \"onlyMainContent\": true\n}\n",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 2,
              "batchInterval": 3000
            }
          },
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        16080,
        5008
      ],
      "id": "127defe2-2484-4933-91b0-e1ff7c24b68f",
      "name": "Scrape Company Page",
      "credentials": {
        "httpHeaderAuth": {
          "id": "rBgY4HYcYC151dgK",
          "name": "Firecrawl API Key-Latest-03May26"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nlet combinedMarkdown = '';\n\nfor (const item of items) {\n  const md = item.json.data?.markdown || '';\n  const url = item.json.data?.metadata?.sourceURL || '';\n  if (md) {\n    combinedMarkdown += '\\n\\n--- PAGE: ' + url + ' ---\\n\\n' + md.slice(0, 2000);\n  }\n}\n\nreturn [{ json: {\n  data: { markdown: combinedMarkdown.slice(0, 20000) },\n  scrape_urls_count: items.length,\n  map_urls_found: items[0]?.json.map_urls_found || 0\n} }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16288,
        5008
      ],
      "id": "94aee8f6-6c80-4dda-8ff3-7d95e6c1e903",
      "name": "Combine Scraped Pages:"
    },
    {
      "parameters": {
        "url": "={{ $('Parse Robots Sitemap').item.json.sitemap_url }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        15344,
        4992
      ],
      "id": "487f44c1-6ceb-4390-b3fe-747b415c16ba",
      "name": "Fetch Sitemap",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const mapResult = $('Firecrawl Scrape Company').item.json;\nconst mapLinks = mapResult.links || [];\nconst sitemapXml = $json.data || $json || '';\n\n// Extract <loc> URLs from sitemap XML\nlet sitemapUrls = [];\nif (typeof sitemapXml === 'string' && sitemapXml.includes('<loc>')) {\n  const re = /<loc>(https?:\\/\\/[^<]+)<\\/loc>/gi;\n  let m;\n  while ((m = re.exec(sitemapXml)) !== null) sitemapUrls.push(m[1]);\n}\n\n// Combine and dedupe\nconst allLinks = [...new Set([...sitemapUrls, ...mapLinks])];\n\nreturn [{ json: { links: allLinks, sitemap_urls_found: sitemapUrls.length, map_urls_found: mapLinks.length } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        15616,
        4992
      ],
      "id": "4b68e652-2026-49e8-9ea3-c060fff0799c",
      "name": "Parse Sitemap URLs"
    },
    {
      "parameters": {
        "url": "={{ $json.links[0].split('/').slice(0,3).join('/') }}/robots.txt\n",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        14480,
        4896
      ],
      "id": "00cf795a-d94a-4da1-b30c-c411fae2156d",
      "name": "Fetch Robots.txt",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const robotsTxt = $json.data || '';\nconst mapResult = $('Firecrawl Scrape Company').item.json;\nconst mapLinks = mapResult.links || [];\n\nlet companyWebsite = '';\ntry { companyWebsite = $('Extract Full Description').item.json.company_website || ''; } catch(e) {}\nconst baseUrl = companyWebsite.replace(/\\/$/, '');\n\n// Try both www and non-www for sitemap\nconst baseUrls = [baseUrl];\nif (baseUrl.includes('://www.')) {\n  baseUrls.push(baseUrl.replace('://www.', '://'));\n} else {\n  baseUrls.push(baseUrl.replace('://', '://www.'));\n}\n\n// Extract sitemap URL from robots.txt\nlet sitemapUrl = '';\nif (typeof robotsTxt === 'string') {\n  const sm = robotsTxt.match(/Sitemap:\\s*(https?:\\/\\/[^\\s]+)/i);\n  if (sm) sitemapUrl = sm[1].trim();\n}\n\n// If no sitemap in robots.txt, try common paths\nconst sitemapUrls = [];\nif (sitemapUrl) {\n  sitemapUrls.push(sitemapUrl);\n} else {\n  for (const bu of baseUrls) {\n    sitemapUrls.push(bu + '/sitemap.xml');\n    sitemapUrls.push(bu + '/sitemap_index.xml');\n  }\n}\n\nreturn [{ json: {\n  sitemap_url: sitemapUrls[0] || baseUrl + '/sitemap.xml',\n  all_sitemap_urls: sitemapUrls,\n  map_links: mapLinks,\n  base_url: baseUrl\n} }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        14672,
        4992
      ],
      "id": "86d4ffc1-ed4e-4dd0-b898-950d8bbf2545",
      "name": "Parse Robots Sitemap"
    },
    {
      "parameters": {
        "url": "={{ $json.sitemap_url }}",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        14848,
        4992
      ],
      "id": "4c8bd26f-e29f-411d-aeeb-6d90ee803019",
      "name": "Fetch Sitemap XML",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const sitemapXml = $json.data || $json.body || '';\nconst prevData = $('Parse Robots Sitemap').item.json;\nconst mapLinks = prevData.map_links || [];\nconst baseUrl = prevData.base_url || '';\n\n// Extract <loc> URLs from sitemap XML\nlet sitemapUrls = [];\nif (typeof sitemapXml === 'string' && sitemapXml.includes('<loc>')) {\n  const re = /<loc>(https?:\\/\\/[^<]+)<\\/loc>/gi;\n  let m;\n  while ((m = re.exec(sitemapXml)) !== null) {\n    const url = m[1];\n    if (!url.endsWith('.pdf') && !url.includes('/404')) {\n      sitemapUrls.push(url);\n    }\n  }\n}\n\n// Combine and dedupe sitemap + map URLs\nconst allLinks = [...new Set([...sitemapUrls, ...mapLinks])];\n\nreturn [{ json: {\n  links: allLinks,\n  sitemap_source: sitemapUrls.length > 0 ? prevData.sitemap_url : 'none',\n  sitemap_urls_found: sitemapUrls.length,\n  map_urls_found: mapLinks.length,\n  total_discovered: allLinks.length\n} }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        15040,
        4992
      ],
      "id": "d942e706-d89d-4ec0-919e-fbe9fbed03d8",
      "name": "Merge Sitemap + Map URLs"
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Read Discovered Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick Top Pages": {
      "main": [
        [
          {
            "node": "Scrape Company Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape and Combine Pages": {
      "main": [
        []
      ]
    },
    "Extract Full Description": {
      "main": [
        [
          {
            "node": "Has Company Website?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Firecrawl Scrape Job Page": {
      "main": [
        [
          {
            "node": "Extract Full Description",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Full Description",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Firecrawl Screenshot Job Page": {
      "main": [
        [
          {
            "node": "Has Screenshot?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Company Website?": {
      "main": [
        [
          {
            "node": "Firecrawl Scrape Company",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Company Website",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Screenshot?": {
      "main": [
        [
          {
            "node": "Prepare Screenshot Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Firecrawl Scrape Company": {
      "main": [
        [
          {
            "node": "Fetch Robots.txt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip Company Enrichment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Azure Request": {
      "main": [
        [
          {
            "node": "Azure OpenAI Company Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Company Summary": {
      "main": [
        [
          {
            "node": "Parse Company Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Company Summary": {
      "main": [
        [
          {
            "node": "Prepare Vector Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set PDF URL": {
      "main": [
        [
          {
            "node": "Update Job Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Screenshot to Drive": {
      "main": [
        [
          {
            "node": "Set PDF URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Screenshot PNG": {
      "main": [
        [
          {
            "node": "Upload Screenshot to Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Screenshot Binary": {
      "main": [
        [
          {
            "node": "Download Screenshot PNG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip Company Enrichment": {
      "main": [
        [
          {
            "node": "Prepare Vector Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Discovered Jobs": {
      "main": [
        [
          {
            "node": "Filter Discovered Only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Company Website": {
      "main": [
        [
          {
            "node": "Extract Company URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip Company Enrichment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Company URL": {
      "main": [
        [
          {
            "node": "Has URL Now?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has URL Now?": {
      "main": [
        [
          {
            "node": "Firecrawl Scrape Company",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip Company Enrichment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Discovered Only": {
      "main": [
        [
          {
            "node": "Prepare Job Scrape",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Job Scrape": {
      "main": [
        [
          {
            "node": "Firecrawl Scrape Job Page",
            "type": "main",
            "index": 0
          },
          {
            "node": "Firecrawl Screenshot Job Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert to Supabase": {
      "main": [
        [
          {
            "node": "Prepare Sheet Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Sheet Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Sheet Data": {
      "main": [
        [
          {
            "node": "Update Job Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Vector Data": {
      "main": [
        [
          {
            "node": "Generate Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Embedding": {
      "main": [
        [
          {
            "node": "Upsert to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Company Page": {
      "main": [
        [
          {
            "node": "Combine Scraped Pages:",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Scraped Pages:": {
      "main": [
        [
          {
            "node": "Prepare Azure Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Sitemap": {
      "main": [
        [
          {
            "node": "Parse Sitemap URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Sitemap URLs": {
      "main": [
        [
          {
            "node": "Pick Top Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Robots.txt": {
      "main": [
        [
          {
            "node": "Parse Robots Sitemap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Robots Sitemap": {
      "main": [
        [
          {
            "node": "Fetch Sitemap XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Sitemap XML": {
      "main": [
        [
          {
            "node": "Merge Sitemap + Map URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Sitemap + Map URLs": {
      "main": [
        [
          {
            "node": "Fetch Sitemap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "ziidVNe46jymTRk2",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "f6553476-b435-476b-a1ae-e194fb227ded",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "173b8a4569ad20652b77d367a41b875becb1783402651413873b07ab973a7fb1"
  },
  "id": "qYnihfBVOupMODr8",
  "tags": []
}