n8n/workflows/Job Agent - 04 Resume Approval and Doc Creation.json
{
  "name": "Job Agent - 04 Resume Approval and Doc Creation",
  "nodes": [
    {
      "parameters": {},
      "id": "0d9a9a47-83f5-4ccc-ac98-f1469e2fa26b",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2736,
        448
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "=1jkunkarVZDbhpy11G9ajWle7Ip-rYMCof5uWahzVXsE"
        },
        "sheetName": {
          "__rl": true,
          "value": "Jobs",
          "mode": "name"
        },
        "options": {}
      },
      "id": "83b6644f-788d-4a1a-acd1-0e87b25ebbb3",
      "name": "Read Approved Jobs",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -2528,
        560
      ],
      "credentials": {
        "googleApi": {
          "id": "1EPATbG9UgFp0Cvm",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{$json.review_notes}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              },
              "id": "has-notes"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "22281cc2-28ce-473a-8d2b-9067004a013b",
      "name": "Has Review Notes?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1920,
        576
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://testashok1.openai.azure.com/openai/deployments/Test-Ashok-1-gpt-4o/chat/completions?api-version=2025-01-01-preview",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body_string }}",
        "options": {}
      },
      "id": "2841c1af-8ec2-49ae-90b8-d968a2c179ce",
      "name": "Azure OpenAI Revise Resume",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1504,
        480
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "jjUOHftcBqLwwjjm",
          "name": "Azure OpenAI API Key-03May26"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const job = $('Has Review Notes?').item.json;\nconst raw = $json.choices?.[0]?.message?.content || '{}';\nlet revised;\ntry { revised = JSON.parse(raw); } catch (e) { revised = {}; }\nreturn [{ json: {\n  ...job,\n  resume_markdown: revised.resume_markdown || job.resume_markdown,\n  resume_html: revised.resume_html || job.resume_html\n} }];"
      },
      "id": "129ce666-6286-4765-950b-42c89f3f32ef",
      "name": "Parse Revised Resume",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1296,
        496
      ]
    },
    {
      "parameters": {
        "jsCode": "const job = $('Prepare HTML Binary').item.json;\nconst docUrl = $json.documentUrl || $json.url || '';\n\nreturn [{ json: {\n  job_id: job.job_id,\n  job_url_hash: job.job_url_hash,\n  status: 'resume_generated',\n  resume_doc_url: docUrl,\n  updated_at: new Date().toISOString()\n} }];\n"
      },
      "id": "33701e34-203a-4d38-840a-46ffbfc9b129",
      "name": "Prepare Sheet Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        656
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "=1jkunkarVZDbhpy11G9ajWle7Ip-rYMCof5uWahzVXsE"
        },
        "sheetName": {
          "__rl": true,
          "value": "Jobs",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "job_id"
          ],
          "schema": [
            {
              "id": "serial_no",
              "displayName": "serial_no",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "job_id",
              "displayName": "job_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "job_url_hash",
              "displayName": "job_url_hash",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "job_url",
              "displayName": "job_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_name",
              "displayName": "company_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_url",
              "displayName": "company_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_website",
              "displayName": "company_website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "remote_policy",
              "displayName": "remote_policy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "salary",
              "displayName": "salary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "contract_type",
              "displayName": "contract_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "posted_at",
              "displayName": "posted_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "apply_url",
              "displayName": "apply_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "search_keywords",
              "displayName": "search_keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fit_score",
              "displayName": "fit_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fit_decision",
              "displayName": "fit_decision",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fit_rationale",
              "displayName": "fit_rationale",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "matched_requirements",
              "displayName": "matched_requirements",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "missing_requirements",
              "displayName": "missing_requirements",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_summary",
              "displayName": "company_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_research",
              "displayName": "company_research",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resume_markdown",
              "displayName": "resume_markdown",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resume_html",
              "displayName": "resume_html",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resume_doc_url",
              "displayName": "resume_doc_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "job_pdf_url",
              "displayName": "job_pdf_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "review_notes",
              "displayName": "review_notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "applied_at",
              "displayName": "applied_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "error",
              "displayName": "error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "scrape_url",
              "displayName": "scrape_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "screenshot_base64",
              "displayName": "screenshot_base64",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "master_resume",
              "displayName": "master_resume",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "selected_resume_type",
              "displayName": "selected_resume_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fit",
              "displayName": "fit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tailoring_rationale",
              "displayName": "tailoring_rationale",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "1e1354da-dbd8-4d00-90c1-e3584fe72d61",
      "name": "Update Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        272,
        656
      ],
      "credentials": {
        "googleApi": {
          "id": "1EPATbG9UgFp0Cvm",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const job = $json;\nconst resume = (job.resume_markdown || '').replace(/[\\n\\r\\t]/g, ' ');\nconst master = (job.master_resume || '').replace(/[\\n\\r\\t]/g, ' ');\nconst notes = (job.review_notes || '').replace(/[\\n\\r\\t]/g, ' ');\n\nconst body = {\n  messages: [\n    {\n      role: \"system\",\n      content: \"You are an expert resume writer. Revise the resume based on reviewer feedback and master resume data. Return JSON with: resume_html, resume_markdown, tailoring_rationale. HTML: font-family Google Sans Text, Arial, sans-serif; body 10pt; headers 13pt bold; color #1B1C1D; line-height 114%; 1px solid #1B1C1D separator under name; disc bullet markers. Do NOT fabricate experience.\"\n    },\n    {\n      role: \"user\",\n      content: \"CURRENT RESUME: \" + resume + \" MASTER RESUME: \" + master + \" REVIEW NOTES: \" + notes + \" JOB TITLE: \" + job.title + \" COMPANY: \" + job.company_name\n    }\n  ],\n  response_format: { type: \"json_object\" },\n  max_tokens: 4500\n};\n\nreturn [{ json: { ...job, body_string: JSON.stringify(body) } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1680,
        400
      ],
      "id": "f9787af7-dc08-4174-9f3c-8f269ddc64ec",
      "name": "Prepare Revision Request"
    },
    {
      "parameters": {
        "jsCode": "const job = $json;\n\n// Build filename\nconst now = new Date();\nconst day = String(now.getDate()).padStart(2, '0');\nconst months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];\nconst mon = months[now.getMonth()];\nconst yr = String(now.getFullYear()).slice(-2);\nconst dateStr = day + '_' + mon + '_' + yr;\nconst kw = (job.search_keywords || job.title || '').replace(/[^a-zA-Z0-9]/g, '_');\nconst company = (job.company_name || '').replace(/[^a-zA-Z0-9]/g, '_');\nconst title = (job.title || '').replace(/[^a-zA-Z0-9]/g, '_');\nconst loc = (job.location || 'Sydney').replace(/[^a-zA-Z0-9]/g, '_');\nconst baseName = 'Ashok_Mulchandani_' + kw + '_' + dateStr + '_resume_' + company + '_' + title + '_' + loc;\n\n// Get resume HTML\nlet html = job.resume_html || '';\nif (!html && job.resume_markdown) {\n  html = '<html><body><pre>' + job.resume_markdown + '</pre></body></html>';\n}\nif (!html) html = '<html><body>No resume content</body></html>';\n\nreturn [{ json: { ...job, file_name: baseName, resume_html_content: html } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1040,
        656
      ],
      "id": "efe92583-6356-4a77-85f9-9a7783638a2c",
      "name": "Prepare Doc Data"
    },
    {
      "parameters": {
        "jsCode": "const items = $('Read Approved Jobs').all();\nconst approved = items.filter(i => (i.json.status || '').trim().toLowerCase() === 'approved');\nif (approved.length === 0) throw new Error('No approved jobs found');\nreturn approved.map(i => ({ json: i.json }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2320,
        560
      ],
      "id": "8c484c72-09aa-4894-9f13-c0dec6f448a9",
      "name": "Filter Approved Only"
    },
    {
      "parameters": {
        "jsCode": "const job = $json;\nconst html = job.resume_html_content || '<html><body>No content</body></html>';\nconst fileName = job.file_name + '.html';\n\n// Convert HTML string to base64 for binary\nconst base64 = Buffer.from(html, 'utf-8').toString('base64');\n\nreturn [{\n  json: { ...job, html_file_name: fileName, doc_file_name: job.file_name },\n  binary: {\n    data: {\n      data: base64,\n      mimeType: 'text/html',\n      fileName: fileName\n    }\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -864,
        656
      ],
      "id": "fdd79f42-dfbd-4ab5-973f-38e1e3706156",
      "name": "Prepare HTML Binary"
    },
    {
      "parameters": {
        "name": "={{$json.html_file_name}}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1HLHfN_hRD0e2RM3oH4iXkyrcrhby3dQB",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -576,
        448
      ],
      "id": "47aeb6dc-09ed-4463-a3dc-808a734740a0",
      "name": "Upload HTML File",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "SMbQovwtw9fzGPf2",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "folderId": "=1HLHfN_hRD0e2RM3oH4iXkyrcrhby3dQB",
        "title": "=Ashok_Mulchandani_{{$json.search_keywords ? $json.search_keywords.replace(/[^a-zA-Z0-9]/g, '_') : $json.title.replace(/[^a-zA-Z0-9]/g, '_')}}_{{new Date().toLocaleDateString('en-AU', {day:'2-digit',month:'short',year:'2-digit'}).replace(/ /g,'_')}}_resume_{{$json.company_name.replace(/[^a-zA-Z0-9]/g, '_')}}_{{$json.title.replace(/[^a-zA-Z0-9]/g, '_')}}_{{$json.location ? $json.location.replace(/[^a-zA-Z0-9]/g, '_') : 'Sydney'}}\n"
      },
      "id": "74bf67d0-1794-4758-830a-c7f1444054a2",
      "name": "Create Google Doc",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        800,
        160
      ],
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "msPQz7kGnIy6N8EF",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const docId = $json.id;\nconst job = $('Prepare HTML Binary').item.json;\nlet content = job.resume_markdown || job.resume_html_content || 'No resume content';\n\n// Strip HTML tags if using HTML content as fallback\nif (content.startsWith('<')) {\n  content = content.replace(/<[^>]*>/g, '').replace(/\\s+/g, ' ').trim();\n}\n\nconst body = {\n  requests: [{\n    insertText: {\n      location: { index: 1 },\n      text: content\n    }\n  }]\n};\n\nreturn [{ json: {\n  docId,\n  body_string: JSON.stringify(body),\n  documentUrl: 'https://docs.google.com/document/d/' + docId + '/edit'\n} }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        160
      ],
      "id": "73a226e0-4911-433e-8092-abef1a672b91",
      "name": "Prepare Doc Content"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://docs.googleapis.com/v1/documents/{{ $json.docId }}:batchUpdate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDocsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body_string }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1200,
        160
      ],
      "id": "ee3ce684-08be-4753-a6ed-414751bcc09e",
      "name": "Insert Doc Text",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "msPQz7kGnIy6N8EF",
          "name": "Google Docs account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Read Approved Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Approved Jobs": {
      "main": [
        [
          {
            "node": "Filter Approved Only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Review Notes?": {
      "main": [
        [
          {
            "node": "Prepare Revision Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Doc Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Revise Resume": {
      "main": [
        [
          {
            "node": "Parse Revised Resume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Revised Resume": {
      "main": [
        [
          {
            "node": "Prepare Doc Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Sheet Update": {
      "main": [
        [
          {
            "node": "Update Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Revision Request": {
      "main": [
        [
          {
            "node": "Azure OpenAI Revise Resume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Doc Data": {
      "main": [
        [
          {
            "node": "Prepare HTML Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Approved Only": {
      "main": [
        [
          {
            "node": "Has Review Notes?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare HTML Binary": {
      "main": [
        [
          {
            "node": "Upload HTML File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Google Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload HTML File": {
      "main": [
        []
      ]
    },
    "Create Google Doc": {
      "main": [
        [
          {
            "node": "Prepare Doc Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Doc Content": {
      "main": [
        [
          {
            "node": "Insert Doc Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Doc Text": {
      "main": [
        [
          {
            "node": "Prepare Sheet Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "94252b64-45a6-47a2-b153-a279ad1bde29",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "173b8a4569ad20652b77d367a41b875becb1783402651413873b07ab973a7fb1"
  },
  "id": "RrCii1riFxkotyCb",
  "tags": []
}